$photo-width = 295px
$photo-height = 250px
$frame-padding = 5px

.about
	display block
	background-image url(../images/about/background.jpg)
	&__bg
		background-image linear-gradient(to top, transparent, 12%, rgba(white, .73))
	&__wrapper
		padding-top 55px
		padding-bottom 40px
		display flex
		align-items center
	&__text
		text-align center
		flex-basis 50%
	&__desc
		margin-x auto
		margin-bottom 40px
		width 80%
		line-height 2
	&__position
		margin-bottom 40px
		font-family $alegreya
		font-size 24px
		font-weight bold
	&__author
		margin-bottom 30px
	&__name, &__sname
		padding 15px 22px
		display inline-block
		font-family $alegreya
		font-size 24px
		vertical-align middle
		border-top 1px solid #d7d5ca
		border-bottom 1px solid #d7d5ca
	&__name
		margin-right 19px
	&__sname
		margin-left 17px
	&__avatar
		display inline-block
		vertical-align middle
		border 5px solid white
		border-radius 50%
	&__quote-block
		margin-x auto
		margin-bottom 20px
		width 65%
	&__quote
		display inline-block
		width 60%
		font-family $scriptin
		font-size 24px
		color #a47d5e
	&__quote-mark
		display inline-block
		width 19%
		font-family 'Times New Roman', Times, serif
		font-size 60px
		color rgba($taupe, .5)
		&_right
			vertical-align text-top
	&__pictures
		position relative
		flex-basis 50%
	&__stamp
		position absolute
		z-index 10
		top 50%
		left 50%
		margin-top -(247px / 2)
		margin-left -(247px / 2)
		padding-x 45px
		padding-top 98px
		size 247px
		font-family $alegreya
		font-size 30px
		line-height 33px
		text-align center
		text-transform uppercase
		color #c9b176
		background-image url(../images/about/stamp.png)
	&__photos
		clearfix()
	&__photo-container
		position relative
		margin 10px
		float left
		size $photo-width $photo-height
	&__photo
		position absolute
		size 100%
	&__photo-frame
		position absolute
		top $frame-padding
		left $frame-padding
		size ($photo-width - 2*$frame-padding) ($photo-height - 2*$frame-padding)
		border $frame-padding solid white