$montserrat = Montserrat, sans-serif
$alegreya = Alegreya, serif
$playfair = PlayfairDisplay, serif
$scriptin = ScripTin, serif

@font-face
	font-family Montserrat
	src local('Montserrat'),
		local('Montserrat-Regular'),
		url('../fonts/Montserrat-Regular.ttf') format('truetype')
	font-weight 400
@font-face
	font-family Montserrat
	src local('Montserrat'),
		local('Montserrat-Bold'),
		url('../fonts/Montserrat-Bold.ttf') format('truetype')
	font-weight 800

@font-face
	font-family Alegreya
	src local('Alegreya'),
		local('Alegreya-Regular'),
		url('../fonts/Alegreya-Regular.ttf') format('truetype')
	font-weight 400
@font-face
	font-family Alegreya
	src local('Alegreya'),
		local('Alegreya-Bold'),
		url('../fonts/Alegreya-Bold.ttf') format('truetype')
	font-weight 800

@font-face
	font-family PlayfairDisplay
	src local('PlayfairDisplay'),
		local('PlayfairDisplay-Bold'),
		url('../fonts/PlayfairDisplay-Bold.ttf') format('truetype')

@font-face
	font-family ScripTin
	src local('Scriptin'),
		url('../fonts/ScripTin.ttf') format('truetype')
		