.heading
	padding-y 30px
	display block
	font-family $alegreya
	font-weight bold
	&__title
		margin-bottom 10px
		font-size 48px
		color #56534c
	&__desc
		font-size 14px
		text-transform uppercase
		color #a47d5e
	&_light
		&__title
			color white
		&__desc
			color #c8a593
	&_center
		text-align center
	&_right
		text-align right