$root-height = 900px
$nav-height = 70px
$icon-size = 106px

.header
	position relative
	display flex
	flex-direction column
	height $root-height
	color white
	background-image url(../images/header/background.jpg)
	background-position 50% 50%
	background-size cover
	border-bottom 10px solid white
	&:before // spacer
		display none
		size 100% $nav-height
		content ''
	&_opened
		@media(max-width 1100px)
			&:before
				display block
	@media(max-width 1100px)
		position relative

	&__navigation
		background-color rgba(86, 83, 76, .53)
		transition background-color .05s
		flex-shrink 0
		@media(max-width 1100px)
			height $nav-height
			background rgba(86, 83, 76, 0)
			&_opened
				position absolute
				top 0
				right 0
				left 0
				height auto
				background-color rgba(86, 83, 76, .73)
	
	&__bottom
		display flex
		flex-direction column
		width 100%
		flex-grow 1

	&__navbar
		position relative
		clearfix()

	&__logo
		float left
		font-family $scriptin
		font-size 30px
		line-height $nav-height - 15px
		@media(max-width 1100px)
			float none
			font-size 40px
	
	&__menu
		margin-left 4%
		float left
		line-height $nav-height
		@media(max-width 1100px)
			display none
			line-height initial
			&_opened
				margin-left 0
				display block
				float none
				text-align center
	&__menu-item
		padding-left 37px
		font-family $alegreya
		font-size 14px
		text-transform uppercase
		text-decoration none
		color white
		transition color .1s
		@media(max-width 1100px)
			padding-y 10px
			padding-left 0
			display block
			font-size 20px
			letter-spacing 2px
		&:hover
			color lightgrey
		&:after
			margin-left 30px
			display inline
			content '~'
			color white
			@media(max-width 1100px)
				display none
	&__menu a:last-of-type
		&:after
			display none

	&__icons
		display block
		float right
		line-height $nav-height
		@media(max-width 1100px)
			display none
			&_opened
				display block
				float none
				line-height initial
				text-align center
	&__icon-btn
		margin-left 15px
		padding-y 15px
		vertical-align middle
		background none	
		border none
		@media(max-width 1100px)
			margin-right 15px
	&__icon
		size 16px
		fill white
		transition fill .1s
	&__icon-btn:hover &__icon
		fill lightgrey
	&__mobile-nav
		position absolute
		top 0
		right 0
		height $nav-height
		background none
		border none
		@media(min-width 1100px)
			display none
	&__mobile-nav-el
		margin-y 10px
		size ($nav-height - 20px) 5px
		background-color white
	&__banner
		display flex
		text-align center
		flex 1
		align-items center
	&__banner-container
		flex-shrink 0
		flex-basis 100%
	&__title
		font-family $playfair
		font-size 92px
		letter-spacing 6px
		text-shadow 0 1px 0 grey
		&:after
			margin-x auto
			margin-y 55px
			display block
			size 192px 14px
			content ''
			background-image url(../images/header/dashed_line.svg)
	&__desc
		margin-x auto
		width 40%
		font-size 24px
		line-height 2
	&__button-block
		text-align center
	&__button
		margin-top 60px
		padding 12px 47px
		font-family $alegreya
		font-weight bold
		letter-spacing 6px
		text-transform uppercase
		color white
		background-color rgba(86, 83, 76, .53)
		border 1px dashed #9e9c93
		transition background-color .1s, border .1s
		&:hover
			background-color rgba(86, 83, 76, .33)
			border 1px dashed lightgrey
	
	&__big-icon
		position relative
		z-index 10
		top ($icon-size / 2 + 5px)
		margin-x auto
		size $icon-size
		background-image url(../images/header/big-icon.png)
	